<?xml version='1.0' encoding='utf-8'?>
<plugin id="CDVYogaAgoraRTC" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>CDVYogaAgoraRTC</name>
    <js-module name="CDVYogaAgoraRTC" src="www/CDVYogaAgoraRTC.js">
        <clobbers target="AgoraRTC_IOS" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="YogaAgora">
                <param name="ios-package" value="YogaAgora" />
            </feature>
        </config-file>
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>App uses camera.</string>
        </config-file>
        <source-file src="src/ios/YogaAgora.m" />
        <source-file src="src/ios/ui/viewcontroller/YogaAgoraViewController.h" />
        <source-file src="src/ios/ui/viewcontroller/YogaAgoraViewController.m" />
        <source-file src="src/ios/util/YogaAgoraUtil.h" />
        <source-file src="src/ios/util/YogaAgoraUtil.m" />
        <source-file src="src/ios/YogaAgoraShared.h" />
        <source-file src="src/ios/YogaAgoraShared.m" />
    </platform>
</plugin>